<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vuejs thought list with summernote editor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="src/stylesheets/style.css">
</head>
<body>
  <div class="container" id="thoughts">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Help</h3>
        <ul>
          <li>Use<code>ctrl+enter</code>to split thought</li>
          <li>To add new thought:
            <ul>
              <li>press <code>enter</code> in headline to add new thought</li>
              <li>place cursor at the end of thought and press <code>ctrl+enter</code></li>
            </ul>
          </li>
          <li>You can drag and drop thoughts and headlines for sorting</li>

          <li>To delete headline or thought just delete all its content</li>
        </ul>
        <div>
          <h1 class="text-center">Thoughts</h1>
          <div>
            <ul class="headlines-list">
            <li
              class="headline"
              v-for="headline in headlines"
              track-by="_id"
              >
              <input
                type="text"
                v-model="headline.name"
                @keyup.enter="addThought"
                @keydown="headline.name.length === 0 ? deleteHeadline($index) : null"
                class="headline-name"
                >
              <span class="glyphicon glyphicon-move"></span>
              <p>
                <small>{{headline._id}}</small>
                <small>{{headline.created_at}}</small>
              </p>
              <thoughts-list :list="headline.thoughts" :index="$index"></thoughts-list>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <pre>{{ focus_coordinates | json }}</pre>
      </div>
    </div>
  </div>

  <template id="thoughts-list-template">
    <ul
      class="list-group thoughts-list"
      data-headline-id="{{index}}"
      >
      <li
          v-for="thought in list"
          track-by="_id"
          class="list-group-item thought"
          data-headline-id="{{index}}"
          data-thought-id="{{$index}}"
          >
          {{index}}
          <div class="wrapper text-center">
              <img class="img-circle" :src="thought.picture">
              <vue-summernote name="html-editor" :content.sync="thought.name" ></vue-summernote>
              <input type="text" v-model="thought.author">
              <span class="glyphicon glyphicon-move"></span>
          </div>
          <div class="btn btn-default headline-button" title="make headline" v-on:click="makeHeadline(index, $index)">
            <i class="fa fa-align-center headline-icon" aria-hidden="true"></i>
          </div>
      </li>
    </ul>
  </template>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>

  <script src="src/js/utils.js"></script>
  <script src="src/js/html_splitter.js"></script>
  <script src="lib/GUID.min.js"></script>
  <script src="lib/shortcut.js"></script>
  <script src="src/js/thought.js"></script>
  <script src="src/js/components/vue_summernote.js"></script>
  <script src="src/js/components/thoughts_list.js"></script>
  <script src="src/js/app.js"></script>
</body>
</html>