<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vuejs todo list with summernote editor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div id="todos"><ul class="list-group">
      <li
          v-for="thought in thoughts"
          class="list-group-item thought"
          data-id="{{$index}}"
          >
          <div v-bind:class="{ 'text-primary': thought.done }" class="wrapper">
              <span v-summernote></span>
              <span class="glyphicon glyphicon-move"></span>
              <!-- <span @click="removeThought($index)" class="close">&times;</span> -->
          </div>
      </li>
      </ul>

      <form @submit="addThought">
        <input v-model="newThought" class="form-control" type="text" placeholder="Add some thought">
      </form>
      <pre>{{thoughts | json}}</pre>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
  <script src="app.js"></script>
</body>
</html>