.text-primary {
  color: #bbb;
}
.wrapper {
  position: relative;
}

.thought {
  width: 50%;
  margin: 10px auto;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.close {
  position: absolute;
  top: 40%;
  right: 1%;
}

.note-editor {
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  width: 95%;
}

.note-editable p {
  margin: 0 auto;
}

.thoughts-list .glyphicon-move {
  position: absolute;
  top: 40%;
  right: -3%;
}

.headline-name {
  width: 90%;
}

.glyphicon-move:hover {
  cursor: move;
}

.img-circle {
    border-radius: 50%;
}

.thought-transition {
   applied to the element when moving
  transition: transform .5s cubic-bezier(.55,0,.1,1);
}