.text-primary {
  color: #bbb;
}
.wrapper {
  position: relative;
}

.thought {
  width: 50%;
  margin: 10px auto;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.focused {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.close {
  position: absolute;
  top: 40%;
  right: 1%;
}

.note-editor {
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  width: 95%;
}

.note-editable p {
  margin: 0 auto;
}

.thoughts-list {
  min-height: 20px;
}

.thoughts-list .glyphicon-move {
  position: absolute;
  top: 40%;
  right: -3%;
}

.headline-name {
  width: 90%;
}

.glyphicon-move:hover {
  cursor: move;
}

.img-circle {
    border-radius: 50%;
}

.thought-transition {
   applied to the element when moving
  transition: transform .5s cubic-bezier(.55,0,.1,1);
}